.loginBlock{
    margin: 10% auto;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.LoginForm {
    padding: 40px;
}