.todolistContainer {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.taskContainer {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.todolistTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todolistTitleContainer button {

}