.todolistContainer {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}