.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: #93d69e;
}


